//On charge le Layout
extends layout

block content
    .container
        h1= title
        br
        ul
            a
            //On boucle dans l'objet rapporté de la DB avec EACH
            - each data in datas
                li
                    = data.categorie+" "
                    = data.number
            script.
                array = ["#{datas[0].number}","#{datas[1].number}","#{datas[2].number}","#{datas[3].number}"];
                console.log(array)



