extends layout

block content
    h1= title
    input(
        type="text"
        id="hello"
        style="display:none"
    )
    input(
    type="text"
    class="recherche"
    )
    input(
    type="text"
    class="recherche"
    )
    input(
    type="text"
    class="recherche"
    )

    input(
        type="submit"
    )
    h1#background Test
    #putTheWidgetHere
    #result
